<br>
<h1>New Blog -Rails-</h1>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>
    <div id="posts">
    <br>
  <button id='new'class="btn btn-success" ><%= link_to '+New Post', new_post_path %></button> 
   <br />
   <br />
  <%= link_to 'Back', users_path %>
</div>